@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
  height: 100%;
  width: 100%;
/*   background-image: url('https://images.squarespace-cdn.com/content/v1/5c08843312b13fc3b2dd2040/1631038527054-VYIPT4ZAVSX95XRV4QQ8/website_background.001.jpg?format=2500w'); */
}
#navbar_section{
  position: sticky;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #335145;
  top: 0;
  left: 0;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}
#logo_pic{
  width: 5%;
  height: 5%;
  border-radius: 50%;
}
#logo{
  font-size: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #335145;
  gap: 10px;
}
#logo_words:hover{
  color: #92B4A7; 
  transition-duration: 0.5s;
}
#sign{
  display: flex;
  align-items: center;
  gap: 30px;
}
#signin{
  border-radius: 50px;
  background-color: #335145; 
  border: 2px solid #335145;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#signin:hover{
  border: 2px solid #335145;
  background: transparent;
  color: #335145; 
  transition-duration: 0.3s;
}
#login{
  text-decoration: none;
  text-transform: uppercase;
  color: #335145;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#login:hover{
  color: #92B4A7;
  transition-duration: 0.3s;
}
#left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
/*   width: 80px;
  height: 80px; */
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn_find {
  width: 25px;
  height: 3px;
  background: #335145;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn_find::before,
.menu-btn_find::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: #335145;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn_find::before {
  transform: translateY(-16px);
}
.menu-btn_find::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn_find {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn_find::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_find::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
#side_bar{
  background-color: #B6CB9E;
  top: 0;
  left: 0;
  height: 100vh;
  width: 35vh;
  position: absolute;
  display: none;
/*   align-items: center; */
  padding-top: 5%;
  z-index: 90;
  border-radius: 20px;
}
#menu{
  list-style-type: none;
  width: 100%;
  margin-left: 10%;
  padding: 0;
}
#menu button{
  width: 100%;
  margin: 10px 0;
  padding: 10%;
  text-decoration: none;
  text-transform: uppercase;
  color: #335145;
  background-color: #B6CB9E;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
} 
.active{
  background-color: white !important;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.inactive:hover{
  color: white !important;
  transition-duration: 0.3s;
}

#title{
  font-size: 45px;
  font-family: 'Concert One', cursive;
}
#subtitle{
  font-size: 25px;
  font-family: 'Concert One', cursive;
  text-align: center;
  color: #335145;
}

.gameButton{
  font-family: 'Roboto', sans-serif;
   color: #335145;
   background-color: #B6CB9E; 
 }

.gameButton {
   align-items: center;
   background-color: #B6CB9E;
   background-position: 0 0;
   border: 1px solid #B6CB9E;
   border-radius: 11px;
   box-sizing: border-box;
   color: #335145;
   cursor: pointer;
   display: flex;
   font-size: 1rem;
   font-weight: 700;
   line-height: 33.4929px;
   list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
   text-align: left;
   text-decoration: none;
   text-shadow: none;
   text-underline-offset: 1px;
   transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
  touch-action: manipulation;
   white-space: nowrap;
   word-break: break-word;
  font-family: 'Roboto', sans-serif;
}

.gameButton:active,
 .gameButton:hover,
 .gameButton:focus {
   outline: 0;
 }

.gameButton:hover {
   background-color: #335145;
   border-color: #335145;
   color: #B6CB9E;
  
 }

#row1{
  flex-direction: row;
   display: flex;
  justify-content: space-evenly;
   padding: 50px;

 }

 #row2{
  flex-direction: row;
   display: flex;
  justify-content: space-evenly;
  padding: 50px;
 }



h1{
  font-size: 20px;
  color: #335145;
  text-align: center;
   font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
 }
p{
  text-align: center;
}


$blue: #1686d9;

.hero {
	background-image: url("http://richardmiddleton.me/modal-hero.jpg");
	background-size: cover;
	height: 420px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button2, #button3 {
  color: #3d3253;
  align-items: center;
   background-color: #beb6ce;
   background-position: 0 0;
   border: 0px solid #beb6ce;
   border-radius: 0px;
   box-sizing: border-box;
   cursor: pointer;
   display: flex;
   font-size: 1rem;
   font-weight: 700;
   line-height: 33.4929px;
   list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
   text-align: left;
   text-decoration: none;
   text-shadow: none;
   text-underline-offset: 1px;
   transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
  touch-action: manipulation;
   white-space: nowrap;
   word-break: break-word;
  font-family: 'Roboto', sans-serif;
}

#button1,#button4{
  color: #335145;
  align-items: center;
   background-color: #b1cdcd;
   background-position: 0 0;
   border: 0px solid #b1cdcd;
   border-radius: 0px;
   box-sizing: border-box;
   cursor: pointer;
   display: flex;
   font-size: 1rem;
   font-weight: 700;
   line-height: 33.4929px;
   list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
   text-align: left;
   text-decoration: none;
   text-shadow: none;
   text-underline-offset: 1px;
   transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
  touch-action: manipulation;
   white-space: nowrap;
   word-break: break-word;
  font-family: 'Roboto', sans-serif;
}



	#button1:hover, #button2:hover, #button3:hover, #button4:hover {
	background-color: #B6CB9E;
   border-color: #B6CB9E;
   color: #335145;
transition: all .2s ease-in;
    
	}



/*  */

#bg-modal1{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100% vh;
	position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
#bg-modal2{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100% vh;
	position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
#bg-modal3{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100% vh;
	position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
#bg-modal4 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100% vh;
	position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-image: url('https://i.gifer.com/WMV.gif');
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
  z-index: 100;
  color: #412c68;
}



#close1 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.hero2 {
	background-image: url("http://richardmiddleton.me/modal-hero.jpg");
	background-size: cover;
	height: 420px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-contents2 {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}


#close2 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.hero3 {
	background-image: url("http://richardmiddleton.me/modal-hero.jpg");
	background-size: cover;
	height: 420px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


.modal-contents3 {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#close3 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

.hero4 {
	background-image: url("http://richardmiddleton.me/modal-hero.jpg");
	background-size: cover;
	height: 420px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


.modal-contents4 {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
  color: white;
  
}



#close4 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

#game1{
  box-shadow: 10px 10px 10px 0px #052424,  60px -16px #b1cdcd;
  border-radius: 10px;
  background-color: #dce4d8;
}

#game2{
  box-shadow: 10px 10px 10px 0px #382c4e,  60px -16px #beb6ce;
  border-radius: 10px;
  background-color: #dce4d8;
}

#game3{
 box-shadow: 10px 10px 10px 0px #382c4e,  60px -16px #beb6ce;
  border-radius: 10px;
  background-color: #dce4d8;
}

#game4{
    box-shadow: 10px 10px 10px 0px #052424,  60px -16px #b1cdcd;
  border-radius: 10px;
  background-color: #dce4d8;
}


.gameButton{
  margin-left: 180px;
  margin-right: 50%;
  text-align: center;
  transition: all .2s ease-in;
}

/* .button{
 z-index: auto;
} */

#gif1{
  width: 100px;
  height: auto;
}